

.navbar {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    align-items: center;
}

.test {
    padding: 10px;
    color:#fff;
}

.button {
background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}